@model Advocacia.Domain.Entities.Cliente
@{
    ViewData["Title"] = "Deletar Cliente";
}

<h1>Excluir Cliente</h1>


<form asp-action="Deletar">

    <div class="row">

        <div class="col-md-3">
            <p>Por Favor Selecione o Tipo de Pessoa:</p>
            <input asp-for="Tipo" type="radio" id="PJ" name="Tipo" value="PJ"  disabled>
            <label for="html">PJ</label><br>
            <input asp-for="Tipo" type="radio" id="PF" name="Tipo" value="PF"  disabled>
            <label for="html">PF</label><br>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <label asp-for="Documento" class="form-label"></label>
            <input asp-for="Documento" id="documento" name="documento" placeholder=" " class="form-control" disabled>
        </div>

    </div>


    <div>
        <div class="col-md-6">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" class="form-control" disabled>
        </div>
    </div>


    <div>
        <div class="col-md-3">
            <label asp-for="Telefone" class="form-label"></label>
            <input asp-for="Telefone" id="telefone" class="form-control" disabled>
        </div>
    </div>

    <input type="hidden" asp-for="DataCadastro" />
   
    <div class="row">
        <div class="col-md-4">
            <div class="conf_btn">
                <button type="submit" name="TipoAcao" value="Deletar" class="btn btn-primary">Excluir Cliente</button>
            </div>
        </div>
    </div>
</form>
